@page "/repository/{id}/settings/languages"
@using MRO.SKM.SDK.Models
@inherits BaseRepoPage
@inject NavigationManager NavigationManager

<PageTitle>Spracheinstellungen</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
<MudGrid>
    <MudItem xs="12">
        <MudGrid>
            <MudItem xs="9">
                <h1>Spracheinstellungen</h1>
            </MudItem>
            <MudItem xs="3" Class="d-flex justify-end">
                <MudButton
                    Variant="Variant.Filled"
                    StartIcon="@Icons.Material.Filled.Add"
                    Color="Color.Primary"
                    OnClick="OpenAddLanguageDialog">Sprache hinzufügen</MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem xs="12">
        <MudPaper>
            <MudList T="RepositoryLanguage">
                @foreach (var repo in Languages)
                {
                    <MudListItem OnClick="() => this.NavigateTo(repo.ProviderId)">
                        <AvatarContent>
                            <MudAvatar Color="Color.Primary">
                                @(string.Concat(LanguageProviderServices.First(e => e.UUID == repo.ProviderId).DisplayName.Take(2)))
                            </MudAvatar>
                        </AvatarContent>
                        <ChildContent>
                            @(LanguageProviderServices.First(e => e.UUID == repo.ProviderId).DisplayName)
                        </ChildContent>
                    </MudListItem>
                }

            </MudList>
        </MudPaper>
    </MudItem>

</MudGrid>
</MudContainer>
