@page "/repository/{id}"
@inherits BaseRepoPage
<PageTitle>Übersicht</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h3>Home</h3>

    @if (this.Repository != null)
    {
        <span>@this.Repository.Name</span>
    }
</MudContainer>



<MudPaper Class="pa-4">
    <MudChart ChartType="ChartType.Pie" InputData="@DataArray" InputLabels="@LabelsArray" Width="300px" Height="300px" />
</MudPaper>

