@page "/repository/{id}"
<PageTitle>Übersicht</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h3>Home</h3>

    @if (this.Repository != null)
    {
        <span>@this.Repository.Name</span>
    }
</MudContainer>

