@page "/repository/{id}/guide"
@using Microsoft.EntityFrameworkCore
@inherits BaseRepoPage

<PageTitle>Styleguide</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h3>Styleguide</h3>

    @((MarkupString)Repository.StyleGuide)
</MudContainer>
@code {
    
}