@page "/repository/{id}/guide"
@using Microsoft.EntityFrameworkCore
@inherits BaseRepoPage

<PageTitle>Styleguide</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h3>Styleguide</h3>

    <iframe src="/repository/@Repository.Id/guide/display" id="styleIframe"></iframe>

</MudContainer>

@code {
    
}