@page "/repository/{id}/settings/ai"
@inherits BaseRepoPage

<PageTitle>AI-Einstellungen</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <h1>AI-Einstellungen</h1>
</MudContainer>

@code {
    
}