@inherits LayoutComponentBase

<MudProviders ></MudProviders>

<MudLayout>
    <HeaderAppBar/>

    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2" Width="250px">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <div style="margin-top: 15px"></div>
            @Body
        </MudContainer>

    </MudMainContent>
</MudLayout>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>